<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h2>Hello, world!</h2>
    <div id="data-container">

    </div>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
    <script>

        const socket = io.connect('http://localhost:4000');
        const container = document.getElementById('data-container');
        socket.on('image', (data) => {
            console.log('data', data)
            container.innerHTML = data;
        })
    </script>
</body>

</html>